# Azure Functions Configuration
# URLs de las Azure Functions para Air Manifest
AZURE_FUNCTION_GET_AIR_MANIFEST_URL=http://localhost:7092/api/GetAirManifestHttpTrigger
AZURE_FUNCTION_UPDATE_AIR_MANIFEST_URL=http://localhost:7092/api/UpdateAirManifestHttpTrigger
AZURE_FUNCTION_CREATE_SHIPMENT_URL=http://localhost:7092/api/CreateShipmentHttpTrigger

# Azure Functions API Key
AZURE_FUNCTION_API_KEY=<TU_API_KEY>